@tailwind base;
@tailwind components;
@tailwind utilities;

[contentEditable=true]:empty:before{
  content:attr(placeholder);
  color:#A3A3A3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

@layer utilities {
  .titlebar-drag {
    -webkit-app-region: drag;
  }

  .titlebar-nodrag {
    -webkit-app-region: no-drag;
  }

  .transparent-black {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .border-gray-850 {
    border-color: #202020;
  }

  .bg-gray-850 {
    background-color: #202020;
  }

  @variants hover, focus {
    .transparent-blue {
      background-color: rgba(37, 99, 235, 0.5);
    }

    .transparent-red {
      background-color: rgba(220, 38, 38, 0.5);
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

@media only screen and (prefers-color-scheme: dark) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
}

.editableInput:empty::before {
  content: attr(data-placeholder);
  color: #a3a3a3;
}
